---
layout: default
title: Home
description: Ilkka Huotari
---

<section class="home">
    <h2>Projects</h2>
    <ul class="pane-projects">
      <li>
        <a target="_blank" href="https://derby-demos.herokuapp.com" target="_blank"><img src="https://raw.githubusercontent.com/derbyjs/derby-assets/master/derby-medium-transparent.png">DerbyJS
        <p>Demos for DerbyJS components.</p>
        </a>
        </li>    
      <li>
        <a target="_blank" href="http://windowsphone.com/s?appid=ddc56c21-dcf4-425c-bc12-6fe0ee7e09b3" target="_blank"><img src="assets/img/windows.png">tinyirc
        <p>An IRC client for Windows Phone.</p>
        </a>
        </li>
      <li>
        <a target="_blank" href="https://chrome.google.com/webstore/detail/iniabgbbmccaomaocmhcfioahgipigbh" target="_blank"><img src="assets/img/chrome.png">Start!
        <p>An alternative start page for Google Chrome.</p>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://chrome.google.com/webstore/detail/fdplnbbmoikjmjckeclbeaheoehbpbfi" target="_blank"><img src="assets/img/chrome.png">Take Notes
        <p>A no-hassle note taking extension for Google Chrome.</p>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://ile.github.io/population-calculator/" target="_blank"><img src="assets/img/html5.png">Population calculator
          <p>An experiment with D3.</p>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://ile.github.io/tilastot/" target="_blank"><img src="assets/img/html5.png">Statistics visualization of Finland
          <p>Another experiment with D3.</p>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/ile/"><span class="github-logo logo"></span>GitHub repos
        <p>A lot of code.</p>
        </a>
      </li>
    </ul>
    <h2>Blog</h2>
    <ul class="posts">
      {% for post in site.posts %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
          {% if post.description %}
            <p class="list-group-item-text">{{ post.description }}</p>
          {% endif %}
      </li>
      {% endfor %}
    </ul>

    <div id="home" class="row">
      <div class="col-sm-3">
        <div class="list-group posts">
        {% for post in site.pages %}{% if post.url != page.url and post.title != null %}
          <a href="{{ post.url }}" title="{{ post.description }}" class="list-group-item">
            {{ post.title }}
          </a>
        {% endif %}{% endfor %}
        </div>
      </div>
    </div>
</section>


