<header id="nav">
  <div class="inner">
    <ul>
      <li class="pull-left">
        <a href="/">ilkka huotari</a> <img src="https://0.gravatar.com/avatar/ed1112b7c4a08b9da7b6148dbfd6ff9b" class="round">
      </li>
      <li class="{% if page.url == '/projects/' %}selected{% endif %}">
        <a href="/projects">projects</a>
      </li>
      <li class="ml {% if page.url == '/contact/' %}selected{% endif %}">
        <a href="/contact">contact</a>
      </li>
    </ul>
  </div>
</header>
