<header id="nav">
  <div class="inner">
    <ul>
      <li class="pull-left {% if page.url == node.url %}selected{% endif %}">
        <a href="/">ilkka huotari</a>
      </li>
      <li class="{% if page.url == node.url %}selected{% endif %}">
        <a href="/projects">projects</a>
      </li>
      <li class="ml {% if page.url == node.url %}selected{% endif %}">
        <a href="/contact">contact</a>
      </li>
    </ul>
  </div>
</header>

<!--
<div class="container site">
  <div class="page-header">
    <div class="pull-right">
    {% if page.date %}
      <div class="page-date pull-right">{{ page.date | date_to_string }}</div>
    {% endif %}
    </div>
    <h1 class="title">{% if page.url != '/' %}<a href="/" title="{{ site.name }}">..</a>{% endif %} {{ page.title }}  
      <div >
        <small class="description">
          {{ page.description }}
        </small>
      </div>
    </h1>
  </div>
-->
