<header id="nav">
  <div class="inner">
    <h1><a href="/"><img src="https://0.gravatar.com/avatar/ed1112b7c4a08b9da7b6148dbfd6ff9b"></a></h1>
  </div>
</header>

<!--
<div class="container site">
  <div class="page-header">
    <div class="pull-right">
    {% if page.date %}
      <div class="page-date pull-right">{{ page.date | date_to_string }}</div>
    {% endif %}
    </div>
    <h1 class="title">{% if page.url != '/' %}<a href="/" title="{{ site.name }}">..</a>{% endif %} {{ page.title }}  
      <div >
        <small class="description">
          {{ page.description }}
        </small>
      </div>
    </h1>
  </div>
-->
